<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
     
      <class name="effigo_vendor_portal.User_Creation"/>
      <class name="effigo_vendor_portal.ChangePasswordTest"/>
      <class name="effigo_vendor_portal.UserLoginTest"/>
      <class name="effigo_vendor_portal.ReloginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
